
<!--codgo de teste-->


<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
             <h4><p>Hora de transformar suas finanças</p></h4>

          </div>
          <br>

          <!-- Email input -->
          <div class="input-group">
            <input type="text" name="" required="required">
            <span>Username</span>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Senha</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Infome sua senha" />

          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Manter-me conectado
              </label>
            </div>
            <a href="#!" class="text-body">Esqueceu a senha?</a>
          </div>
          <div id="buttonbar">
          <div id="buttonbar"></div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button"  class="btn btn-success btn-lg"
              style="  background: #288535dc" routerLink ="/dashboard">Entrar</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">É novo aqui? <a href="#!"
                class="link-danger" routerLink="/cadastro">Cadastre-se!</a></p>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>





    <!-- Right -->


    <footer id="footer" class="footer">



      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>MyCash</span></strong>.
          Todos os direitos reservados
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- End Footer -->


</section>
