<div class="container">
<h1>Minhas Receitas</h1>

<table class="table table-striped table-hover" > <!-- <<table class="table table-striped table-hover table-sm" *ngIf="pessoas">-->



      <div class="border border-light rounded p-5 shadow">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Subcategoria</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Conta</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receita of receitas">
                    <td>{{receita.descricao}}</td>
                    <td>categoria vai aqui</td>
                    <td>{{receita.subcategoriaReceitaId}}</td>
                    <td>{{receita.valor}}</td>
                    <td>{{receita.data}}</td>
                    <td>{{receita.contaId}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary"(click)="openDialogReceita()">Editar</button> |
                        <button type="button" class="btn btn-sm btn-warning">Detalhes</button> |
                        <button type="button" class="btn btn-sm btn-danger">Deletar</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</table>
</div>

