<br>
<div class="container">





<h1>Minhas Receitas</h1>

<table class="table table-striped table-hover" >
      <div class="border border-light rounded p-3 shadow">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Subcategoria</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Conta</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receita of receitas">
                    <td>{{receita.descricao}}</td>
                    <td>{{receita.subcategoriaReceita.categoriaReceita.tipo}}  <mat-icon>{{receita.subcategoriaReceita.categoriaReceita.icon}}</mat-icon> </td>
                    <td>{{receita.subcategoriaReceita.tipo}}</td>
                    <td>R$ {{receita.valor}}</td>
                    <td>{{receita.data| date:'dd-MM-yyyy'}}</td>
                    <td>{{receita.conta.descricao}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary"(click)="openDialogReceitaEditar(receita.receitaId)">Editar</button> |
                        <button type="button" class="btn btn-sm btn-warning" (click)="openDialogReceitaDetalhes(receita.receitaId)">Detalhes</button> |
                        <button type="button" class="btn btn-sm btn-danger" (click)="openDialogDeletarReceita(receita.receitaId)">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</table>


</div>
