<div class="h-screen flex-grow-1 overflow-y-lg-auto">
  <!-- Header -->
  <header class="bg-surface-primary border-bottom pt-6">
      <div class="container-fluid">
          <div class="mb-npx">
              <div class="row align-items-center">
                  <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                      <!-- Title -->
                      <h1 class="h2 mb-0 ls-tight" ><img src="assets/img/site/Foto11.png" width="85" height="100"  alt="">MyCash</h1><br>

                  </div> <!-- Actions -->
                  <div class="col-sm-1 col-12 text-sm-end">
                    <div class="tec">
                      <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1"> <span class=" pe-2"> <i class="bi bi-pencil"></i> </span> <span>Edit</span></a>
                    </div>
                  </div>
                  <div class="col-sm-5 col-12 text-sm-end">
                      <div class="mx-n1"><a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2"> <i class="bi bi-plus"></i> </span> <span>Sair</span> </a> </div>
                  </div>
              </div>
          </div>
      </div>
  </header> <!-- Main -->
  <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
          <!-- Card stats -->
          <div class="row g-6 mb-6">
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Saldo Atual</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i class="bi bi-credit-card"></i> </div>
                              </div>
                          </div>
                          <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i> </span> <span class="text-nowrap text-xs text-muted">Adicionar Despesa</span> </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Receitas</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i class="bi bi-people"></i> </div>
                              </div>
                          </div>
                          <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i> </span> <span class="text-nowrap text-xs text-muted">Adicionar Receita</span> </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Despesas</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i class="bi bi-clock-history"></i> </div>
                              </div>
                          </div>
                          <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i> </span> <span class="text-nowrap text-xs text-muted">Adicionar Despesa</span> </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Cartão de Crédito</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i class="bi bi-minecart-loaded"></i> </div>
                              </div>
                          </div>
                          <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i> </span> <span class="text-nowrap text-xs text-muted">Adicionar Compra</span> </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
  </main>

</div>
<footer id="footer" class="footer">



  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>MyCash</span></strong>.
      Todos os direitos reservados
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
