<div class="h-screen flex-grow-1 overflow-y-lg-auto">
  <!-- Header -->
  <header class="">
      <div class="container-fluid">
          <div class="mb-npx">
              <div class="row align-items-center">
                  <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                      <!-- Title -->
                      <h1 class="h2 mb-0 ls-tight" ><img src="assets/img/site/Foto11.png" width="85" height="100"  alt="">MyCash</h1><br>

                  </div> <!-- Actions -->
                  <div class="col-sm-1 col-12 text-sm-end">
                    <div class="mx-n1">
                     <!--<a href="" class="btn d-inline-flex btn-sm btn-neutral border-center mx-1"> <span class=" "> <i class="bi bi-arrow-down-short"></i> </span> <span>Mês</span></a> -->
                    </div>
                  </div>





                  <div class="Header-item position-relative mr-0 d-none d-md-flex">

                    <details class="details-overlay details-reset js-feature-preview-indicator-container" data-feature-preview-indicator-src="/users/CleydsonF/feature_preview/indicator_check" open="">

                    <summary class="Header-link" aria-label="View profile and more" data-analytics-event="{&quot;category&quot;:&quot;Header&quot;,&quot;action&quot;:&quot;show menu&quot;,&quot;label&quot;:&quot;icon:avatar&quot;}" aria-haspopup="menu" role="button">
                      <img src="https://avatars.githubusercontent.com/u/92229194?s=40&amp;v=4" alt="@CleydsonF" size="20" height="20" width="20" data-view-component="true" class="avatar avatar-small circle">
                        <span class="unread-indicator js-feature-preview-indicator" style="top: 1px;" hidden=""></span>
                      <span class="dropdown-caret"></span>
                    </summary>
                    <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 180px" preload="" role="menu">
                        <div class="header-nav-current-user css-truncate"><a role="menuitem" class="no-underline user-profile-link px-3 pt-2 pb-2 mb-n2 mt-n1 d-block" href="/CleydsonF" data-ga-click="Header, go to profile, text:Signed in as">Signed in as <strong class="css-truncate-target">CleydsonF</strong></a></div>
                  <div role="none" class="dropdown-divider"></div>

                    <div class="pl-3 pr-3 f6 user-status-container js-user-status-context lh-condensed" data-url="/users/status?compact=1&amp;link_mentions=0&amp;truncate=1">

                  <div class="js-user-status-container rounded-2 px-2 py-1 mt-2 border" data-team-hovercards-enabled="">
                    <details class="js-user-status-details details-reset details-overlay details-overlay-dark">
                      <summary class="btn-link btn-block Link--secondary no-underline js-toggle-user-status-edit toggle-user-status-edit" role="menuitem">
                        <div class="d-flex flex-items-center flex-items-stretch">
                          <div class="f6 lh-condensed user-status-header d-flex user-status-emoji-only-header circle">
                            <div class="user-status-emoji-container flex-shrink-0 mr-2 d-flex flex-items-center flex-justify-center lh-condensed-ultra v-align-bottom">
                              <svg class="octicon octicon-smiley" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zM5 8a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zM5.32 9.636a.75.75 0 011.038.175l.007.009c.103.118.22.222.35.31.264.178.683.37 1.285.37.602 0 1.02-.192 1.285-.371.13-.088.247-.192.35-.31l.007-.008a.75.75 0 111.222.87l-.614-.431c.614.43.614.431.613.431v.001l-.001.002-.002.003-.005.007-.014.019a1.984 1.984 0 01-.184.213c-.16.166-.338.316-.53.445-.63.418-1.37.638-2.127.629-.946 0-1.652-.308-2.126-.63a3.32 3.32 0 01-.715-.657l-.014-.02-.005-.006-.002-.003v-.002h-.001l.613-.432-.614.43a.75.75 0 01.183-1.044h.001z"></path></svg>
                            </div>
                          </div>
                          <div class="

                             user-status-message-wrapper f6 min-width-0" style="line-height: 20px;">
                            <div class="css-truncate css-truncate-target width-fit color-fg-default text-left">
                                <span class="color-fg-muted">Set status</span>
                            </div>
                          </div>
                        </div>
                      </summary>
                      <details-dialog class="rounded-2 anim-fade-in fast Box Box--overlay overflow-visible" role="dialog" aria-label="Edit status" tabindex="-1" aria-modal="true">
                        <!-- '"` --><!-- </textarea></xmp> --><form class="position-relative flex-auto js-user-status-form" data-turbo="false" action="/users/status?circle=0&amp;compact=1&amp;link_mentions=0&amp;truncate=1" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="put" autocomplete="off"><input type="hidden" name="authenticity_token" value="EaOnRrC7pehgRo-H-3iESCGJ4J4-D0G5L2mpx6Kjqn60ybjKTlxTl0ktUFLzVwje9URRHGl4n2JFQyS6cmKHcQ">
                          <div class="Box-header color-bg-subtle border-bottom p-3">
                            <button class="Box-btn-octicon js-toggle-user-status-edit btn-octicon float-right" type="reset" aria-label="Close dialog" data-close-dialog="">
                              <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                      <path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                  </svg>
                            </button>
                            <h3 class="Box-title f5 text-bold color-fg-default">Edit status</h3>
                          </div>
                          <input type="hidden" name="emoji" class="js-user-status-emoji-field" value="">
                          <input type="hidden" name="organization_id" class="js-user-status-org-id-field" value="">
                          <div class="px-3 py-2 color-fg-default">
                            <div class="js-characters-remaining-container position-relative mt-2">
                              <div class="input-group d-table form-group my-0 js-user-status-form-group">
                                <span class="input-group-button d-table-cell v-align-middle" style="width: 1%">
                                  <button aria-label="Choose an emoji" type="button" data-view-component="true" class="js-toggle-user-status-emoji-picker btn-outline btn p-0">  <span class="js-user-status-original-emoji" hidden=""></span>
                                    <span class="js-user-status-custom-emoji"></span>
                                    <span class="js-user-status-no-emoji-icon">
                                      <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-smiley">
                      <path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zM5 8a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zM5.32 9.636a.75.75 0 011.038.175l.007.009c.103.118.22.222.35.31.264.178.683.37 1.285.37.602 0 1.02-.192 1.285-.371.13-.088.247-.192.35-.31l.007-.008a.75.75 0 111.222.87l-.614-.431c.614.43.614.431.613.431v.001l-.001.002-.002.003-.005.007-.014.019a1.984 1.984 0 01-.184.213c-.16.166-.338.316-.53.445-.63.418-1.37.638-2.127.629-.946 0-1.652-.308-2.126-.63a3.32 3.32 0 01-.715-.657l-.014-.02-.005-.006-.002-.003v-.002h-.001l.613-.432-.614.43a.75.75 0 01.183-1.044h.001z"></path>
                  </svg>
                                    </span>

                  </button>              </span>
                                <text-expander keys=": @" data-mention-url="/autocomplete/user-suggestions" data-emoji-url="/autocomplete/emoji">
                                  <input type="text" autocomplete="off" data-no-org-url="/autocomplete/user-suggestions" data-org-url="/suggestions?mention_suggester=1" data-maxlength="80" class="d-table-cell width-full form-control js-user-status-message-field js-characters-remaining-field" placeholder="What's happening?" name="message" value="" aria-label="What is your current status?">
                                </text-expander>
                                <div class="error">Could not update your status, please try again.</div>
                              </div>
                              <div style="margin-left: 53px" class="my-1 text-small label-characters-remaining js-characters-remaining" data-suffix="remaining" hidden="">
                                80 remaining
                              </div>
                            </div>
                            <include-fragment class="js-user-status-emoji-picker" data-url="/users/status/emoji"></include-fragment>
                            <div class="overflow-auto ml-n3 mr-n3 px-3 border-bottom" style="max-height: 33vh">
                              <div class="user-status-suggestions js-user-status-suggestions collapsed overflow-hidden">
                                <h4 class="f6 text-normal my-3">Suggestions:</h4>
                                <div class="mx-3 mt-2 clearfix">
                                    <div class="float-left col-6">
                                        <button type="button" value=":palm_tree:" class="d-flex flex-items-baseline flex-items-stretch lh-condensed f6 btn-link Link--secondary no-underline js-predefined-user-status mb-1">
                                          <div class="emoji-status-width mr-2 v-align-middle js-predefined-user-status-emoji">
                                            <g-emoji alias="palm_tree" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f334.png">🌴</g-emoji>
                                          </div>
                                          <div class="d-flex flex-items-center no-underline js-predefined-user-status-message ws-normal text-left" style="border-left: 1px solid transparent">
                                            On vacation
                                          </div>
                                        </button>
                                        <button type="button" value=":face_with_thermometer:" class="d-flex flex-items-baseline flex-items-stretch lh-condensed f6 btn-link Link--secondary no-underline js-predefined-user-status mb-1">
                                          <div class="emoji-status-width mr-2 v-align-middle js-predefined-user-status-emoji">
                                            <g-emoji alias="face_with_thermometer" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f912.png">🤒</g-emoji>
                                          </div>
                                          <div class="d-flex flex-items-center no-underline js-predefined-user-status-message ws-normal text-left" style="border-left: 1px solid transparent">
                                            Out sick
                                          </div>
                                        </button>
                                    </div>
                                    <div class="float-left col-6">
                                        <button type="button" value=":house:" class="d-flex flex-items-baseline flex-items-stretch lh-condensed f6 btn-link Link--secondary no-underline js-predefined-user-status mb-1">
                                          <div class="emoji-status-width mr-2 v-align-middle js-predefined-user-status-emoji">
                                            <g-emoji alias="house" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f3e0.png">🏠</g-emoji>
                                          </div>
                                          <div class="d-flex flex-items-center no-underline js-predefined-user-status-message ws-normal text-left" style="border-left: 1px solid transparent">
                                            Working from home
                                          </div>
                                        </button>
                                        <button type="button" value=":dart:" class="d-flex flex-items-baseline flex-items-stretch lh-condensed f6 btn-link Link--secondary no-underline js-predefined-user-status mb-1">
                                          <div class="emoji-status-width mr-2 v-align-middle js-predefined-user-status-emoji">
                                            <g-emoji alias="dart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f3af.png">🎯</g-emoji>
                                          </div>
                                          <div class="d-flex flex-items-center no-underline js-predefined-user-status-message ws-normal text-left" style="border-left: 1px solid transparent">
                                            Focusing
                                          </div>
                                        </button>
                                    </div>
                                </div>
                              </div>
                              <div class="user-status-limited-availability-container">
                                <div class="form-checkbox my-0">
                                  <input type="checkbox" name="limited_availability" value="1" class="js-user-status-limited-availability-checkbox" data-default-message="I may be slow to respond." aria-describedby="limited-availability-help-text-truncate-true-compact-true" id="limited-availability-truncate-true-compact-true">
                                  <label class="d-block f5 color-fg-default mb-1" for="limited-availability-truncate-true-compact-true">
                                    Busy
                                  </label>
                                  <p class="note" id="limited-availability-help-text-truncate-true-compact-true">
                                    When others mention you, assign you, or request your review,
                                    GitHub will let them know that you have limited availability.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="d-inline-block f5 mr-2 pt-3 pb-2">
                    <div class="d-inline-block mr-1">
                      Clear status
                    </div>

                    <details class="js-user-status-expire-drop-down f6 dropdown details-reset details-overlay d-inline-block mr-2">
                      <summary aria-haspopup="true" data-view-component="true" class="btn-sm btn v-align-baseline">  <div class="js-user-status-expiration-interval-selected d-inline-block v-align-baseline">
                          Never
                        </div>
                        <div class="dropdown-caret"></div>

                  </summary>
                      <ul class="dropdown-menu dropdown-menu-se pl-0 overflow-auto" style="width: 220px; max-height: 15.5em">
                        <li>
                          <button type="button" class="btn-link dropdown-item js-user-status-expire-button ws-normal" title="Never">
                            <span class="d-inline-block text-bold mb-1">Never</span>
                            <div class="f6 lh-condensed">Keep this status until you clear your status or edit your status.</div>
                          </button>
                        </li>
                        <li class="dropdown-divider" role="none"></li>
                          <li>
                            <button type="button" class="btn-link dropdown-item ws-normal js-user-status-expire-button" title="in 30 minutes" value="2022-06-25T17:13:47-03:00">
                              in 30 minutes
                            </button>
                          </li>
                          <li>
                            <button type="button" class="btn-link dropdown-item ws-normal js-user-status-expire-button" title="in 1 hour" value="2022-06-25T17:43:47-03:00">
                              in 1 hour
                            </button>
                          </li>
                          <li>
                            <button type="button" class="btn-link dropdown-item ws-normal js-user-status-expire-button" title="in 4 hours" value="2022-06-25T20:43:47-03:00">
                              in 4 hours
                            </button>
                          </li>
                          <li>
                            <button type="button" class="btn-link dropdown-item ws-normal js-user-status-expire-button" title="today" value="2022-06-25T23:59:59-03:00">
                              today
                            </button>
                          </li>
                          <li>
                            <button type="button" class="btn-link dropdown-item ws-normal js-user-status-expire-button" title="this week" value="2022-06-26T23:59:59-03:00">
                              this week
                            </button>
                          </li>
                      </ul>
                    </details>
                    <input class="js-user-status-expiration-date-input" type="hidden" name="expires_at" value="">
                  </div>

                            <include-fragment class="js-user-status-org-picker" data-url="/users/status/organizations"></include-fragment>
                          </div>
                          <div class="d-flex flex-items-center flex-justify-between p-3 border-top">
                            <button type="submit" disabled="" class="width-full btn btn-primary mr-2 js-user-status-submit">
                              Set status
                            </button>
                            <button type="button" disabled="" class="width-full js-clear-user-status-button btn ml-2 ">
                              Clear status
                            </button>
                          </div>
                  </form>    </details-dialog>
                    </details>
                  </div>

                    </div>
                    <div role="none" class="dropdown-divider"></div>

                  <a role="menuitem" class="dropdown-item" href="/CleydsonF" data-ga-click="Header, go to profile, text:your profile" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;YOUR_PROFILE&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="81de2316d8bd59073d264ec401025e30505088c966652c8519da4465e7b5b2e1">Your profile</a>

                  <a role="menuitem" class="dropdown-item" href="/CleydsonF?tab=repositories" data-ga-click="Header, go to repositories, text:your repositories" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;YOUR_REPOSITORIES&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="20786ad6cf9521017b67bf5320329f57c97bf729bd57c70505bfec1ed3cd0ebf">Your repositories</a>

                    <a role="menuitem" class="dropdown-item" href="/codespaces" data-skip-pjax="" data-ga-click="Header, go to codespaces, text:your codespaces" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;YOUR_CODESPACES&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="c04d4ec54cc0ef637615c57374793eeb5da6d64c78877a42f0053be7765cdabe">Your codespaces</a>




                  <a role="menuitem" class="dropdown-item" href="/CleydsonF?tab=projects&amp;type=beta" data-ga-click="Header, go to projects, text:your projects" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;YOUR_PROJECTS&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="12dd48d9f6e0fe0b1593bb98f38b325f63da08abf8e12b9804ed208c9df04358">Your projects</a>


                  <a role="menuitem" class="dropdown-item" href="/CleydsonF?tab=stars" data-ga-click="Header, go to starred repos, text:your stars" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;YOUR_STARS&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="f52ed5951b1de2837d48104c91d1c5c561375f3049515a7067c1f4d5cab84c9b">Your stars</a>
                    <a role="menuitem" class="dropdown-item" href="https://gist.github.com/mine" data-ga-click="Header, your gists, text:your gists" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;YOUR_GISTS&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="896c11988c2eddc4f0aea6d8c46468327749194c764e5c4af0ab3245b84d3132">Your gists</a>



                  <div role="none" class="dropdown-divider"></div>
                    <a role="menuitem" class="dropdown-item" href="/account/choose?action=upgrade" data-ga-click="Header, go to compare plans, text:upgrade" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;UPGRADE&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="03009f551700a567c1bcf8d9ff2bf5d788c0ac6d75be1f64cd19151783d41e34">Upgrade</a>

                  <div id="feature-enrollment-toggle" class="hide-sm hide-md unread-indicator-container position-relative">
                    <button type="button" class="dropdown-item btn-link" role="menuitem" data-feature-preview-trigger-url="/users/CleydsonF/feature_previews" data-feature-preview-close-details="{&quot;event_type&quot;:&quot;feature_preview.clicks.close_modal&quot;,&quot;payload&quot;:{&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-feature-preview-close-hmac="5140a299c5a3721b6d2b586be459fa69b46848706b360b8798ec8803d4b091f6" data-hydro-click="{&quot;event_type&quot;:&quot;feature_preview.clicks.open_modal&quot;,&quot;payload&quot;:{&quot;link_location&quot;:&quot;user_dropdown&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="9de4624a058e9a35e8d677f72ca22be918cb79f2eb3ed1861f2d461d0cf5e0aa">
                      Feature preview
                    </button>
                      <span class="unread-indicator js-feature-preview-indicator" hidden=""></span>
                  </div>

                  <a role="menuitem" class="dropdown-item" href="https://docs.github.com" data-ga-click="Header, go to help, text:help" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;HELP&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="8e044598320857f48604286ad66a8d5cc1db3b54e8a8b4ebcb0b09a1987d0175">Help</a>
                  <a role="menuitem" class="dropdown-item" href="/settings/profile" data-ga-click="Header, go to settings, icon:settings" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;SETTINGS&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="7fa1003a360d24b54e34f1e713f824d0f4c50528fd762b551fb14a5d0e8ca50f">Settings</a>
                  <div role="none" class="dropdown-divider"></div>
                  <!-- '"` --><!-- </textarea></xmp> --><form class="logout-form" data-turbo="false" action="/logout" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="y_-oH7rOl21xmBgtFvb9iSKzSJK8W161Fz52GWxke9tlsbM45UipvPnbWmzDMj-ytOhpndIpuasTlXIRbeS65g">

                    <button type="submit" class="dropdown-item dropdown-signout" data-ga-click="Header, sign out, icon:logout" data-hydro-click="{&quot;event_type&quot;:&quot;global_header.user_menu_dropdown.click&quot;,&quot;payload&quot;:{&quot;request_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;target&quot;:&quot;SIGN_OUT&quot;,&quot;originating_url&quot;:&quot;https://github.com/users/92229194/menu&quot;,&quot;user_id&quot;:92229194}}" data-hydro-click-hmac="ca4d794bcffca1dc027aa5a99b42707f3614fcb62744e8cb4bccbe9668e1bf5c" role="menuitem">
                      Sign out
                    </button>
                    <input type="text" name="required_field_a743" hidden="hidden" class="form-control"><input type="hidden" name="timestamp" value="1656186227559" autocomplete="off" class="form-control"><input type="hidden" name="timestamp_secret" value="6d5ca985c241d9a96a47ae98e3ec81bb666d59924856d62dc75b8d9777bdaff6" autocomplete="off" class="form-control">
                  </form>
                    </details-menu>
                  </details>

                      </div>
















                  <div class="col-sm-5 col-12 text-sm-end">
                      <div class="mx-n1"><a href="#" class="btn d-inline-flex btn-sm btn-primary mx-5"> <span class=" pe-2"> <i class="bi bi-box-arrow-in-right"></i> </span> <span>Sair</span> </a> </div>
                  </div>
              </div>
          </div>
      </div>
  </header> <!-- Main -->
  <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
          <!-- Card stats -->
          <div class="row g-6 mb-6">
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-5">
                      <div class="card-body">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Saldo Atual</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                                    <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
                                  </svg> </div>
                              </div>
                          </div>
                          <div class="mt-8 mb-0 text-sm">  </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-0">
                      <div class="card-body ">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2 ">Receitas</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-success text-white text-lg rounded-circle btn d-inline-flex btn-sm btn btn-outline "> <i class="bi bi-arrow-up"></i> </div>
                              </div>
                          </div>
                          <div>
                          <div class="mt-2 mb-0 text-sm"> <span class="btn d-inline-flex btn-sm btn btn-outline-success mx-"> <svg xmlns="http://www.w3.org/2000/svg" href="#" class="nav-link active" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/></svg><span  class="text-nowrap text-xs text-muted">Adicionar Receita</span> </span>
                          </div>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Despesas</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-danger  text-white text-lg rounded-circle btn d-inline-flex btn-sm btn btn-outline"> <i class="bi bi-arrow-down"></i> </div>
                              </div>
                          </div>
                          <div class="mt-2 mb-0 text-sm"> <span class="btn d-inline-flex btn-sm btn btn-outline-success mx-"> <svg xmlns="http://www.w3.org/2000/svg" href="#" class="nav-link active" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/></svg><span  class="text-nowrap text-xs text-muted">Adicionar Despesa</span> </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card shadow border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Cartão de Crédito</span> <span class="h3 font-bold mb-0">R$ 00,00</span> </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-warning text-white text-lg rounded-circle btn d-inline-flex btn-sm btn btn-outline "> <i class="bi bi-credit-card"></i> </div>
                              </div>
                          </div>
                          <div class="mt-2 mb-0 text-sm"> <span class="btn d-inline-flex btn-sm btn btn-outline-success mx-"> <svg xmlns="http://www.w3.org/2000/svg" href="#" class="nav-link active" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/></svg><span  class="text-nowrap text-xs text-muted">Adicionar Compra</span> </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
  </main>

</div>
<footer id="footer" class="footer">



  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>MyCash</span></strong>.
      Todos os direitos reservados
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
