<h1>Nova Receita</h1>
<div class="modal-footer">
  <div>
    teste
  </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Subcategoria</th>
          <th>Conta</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
     

    </table>
  <div>
    <button type="button" class="btn btn-success">Salvar</button>
    <button  type="button" class="btn btn-danger">Cancelar</button>
  </div>
 

</div>
