<h1>Nova Receita</h1>
<div class="modal-footer">
  <!-- <div>
    <form [formGroup] = "formulario" (ngSubmit)="CadastroReceita()">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Descrição" formControlName="descricao" >
        </div>
      </div>
    </form>
  </div>
   
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-success">Salvar</button>
    <button  type="button" class="btn btn-danger">Cancelar</button>
  </div> -->

  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Descrição" formControlName="descricao" >
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Categoria" formControlName="cate">
      </div>
    </div>
  </form>

</div>
