<br>
<div class="container">

 

  <h1>Minhas Despesas do Cartão</h1>

  <table class="table table-striped table-hover" >
        <div class="border border-light rounded p-3 shadow">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Descrição</th>
                      <th>Categoria</th>
                      <th>Subcategoria</th>
                      <th>Valor</th>
                      <th>Data</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let despesaCartao of despesaCartao">
                      <td>{{despesaCartao.descricao}}</td>
                      <td>{{despesaCartao.subcategoriaDespesa.categoriaDespesa.tipo}} </td>
                      <td>{{despesaCartao.subcategoriaDespesa.tipo}}</td>
                      <td>R$ {{despesaCartao.valor}}</td>
                      <td>{{despesaCartao.data}}</td>
                      <td>
                          <button type="button" class="btn btn-sm btn-primary"(click)="openDialogDespesaCartaoEditar(despesaCartao.despesaCartaoId)">Editar</button> |
                          <button type="button" class="btn btn-sm btn-warning" (click)="openDialogDespesaCartaoDetalhes(despesaCartao.despesaCartaoId)">Detalhes</button> |
                          <button type="button" class="btn btn-sm btn-danger" (click)="openDialogDeletarDespesaCartao(despesaCartao.despesaCartaoId)">Deletar</button>
                      </td>
                  </tr>
              </tbody>
          </table>

      </div>
  </table>
  <br><br>
  <button type="button" class="btn btn-warning"  (click)="openDialogPagarFatura()">
    Pagar Fatura
  </button>
  </div>


